<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <label>加入聊天室<label>
    <form method="POST" action="/addInChatRoom">
        <label>名字:<label>
        <input name="Account">
        <input type="submit" value="加入">
    </form>
</body>
</html>  